﻿@using System.Data
@model DataTable
@{
    ViewData["Title"] = "Fetching data from API";
}
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayName("Mã chi nhánh")
            </th>

            <th>
                @Html.DisplayName("Tên chi nhánh")
            </th>

            <th>
                @Html.DisplayName("Địa chỉ")
            </th>

            <th>
                @Html.DisplayName("Trạng thái")
            </th>
        </tr>
    </thead>
    <tbody>
    @foreach (DataRow row in Model.Rows)
    {
        <tr>
            <td>@row["branchId"]</td>
            <td>@row["name"]</td>
            <td>@row["address"]</td>
            <td>@row["state"]</td>
        </tr>
    }
    </tbody>
</table>